body {
    font-family: Arial, Helvetica, sans-serif;
    color: White;
    background-color: #303030;
}
#scoreboard {
    background-color: #212121;
    width: 40%;
    border-radius: 25px;
    margin: 10px;
    height: 300px;
    align-items: center;
}
#score-display {
    display: flex;
    font-size: 72px;
    justify-content: space-evenly;
}
#scoreboard-info {
    display: flex;
    font-size: 20px;
    justify-content: space-evenly;
}
#stats {
    width: 55%;
    background: #212121;
    border-radius: 25px;
    height: 300px;
    margin: 10px;
}
.identifier {
    padding: 30px;
}
#container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#line1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#line2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#player-roster {
    background-color: #212121;
    width: 97%;
    border-radius: 25px;
}
.roster-heading {
    font-weight: 500;
    padding: 20px;
}
hr {
    width: 85%;
}